g.DS*
data/*
cv/*
*.t7
dog_data/*
test/*
*.tar.gz
*.npy
*.tar
*.json
*.mat
*.jpg
*.png
*.tgz
*.tgz.*
*.zip
*.csv.*
*.csv
*.zip.*
*.hdf5
*.mat.*
256_ObjectCategories/*
cifar-100-python/*
datasets/cifar-100-python/*

